<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link href="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="../css/login.css">
    <title>Login</title>
</head>
<body class="min-h-screen grid place-items-center">

   <div class="container p-8 rounded-2xl
    bg-white/5 backdrop-blur-xl
    border border-white/10
    shadow-[0_20px_80px_rgba(0,0,0,0.6)]">

    <!-- ICON -->

    <h1 class="text-2xl font-semibold text-white text-center mb-1">
      Welcome back
    </h1>
    <p class="text-sm text-slate-400 text-center mb-6">
      Please enter your details to sign in
    </p>

    <!-- FORM -->
    <form action="/user/login" method="POST" class="space-y-4">

      <input
        type="text"
        name="email"
        placeholder="Email"
        required
        class="w-full rounded-lg bg-white/10 border border-white/10 
        px-4 py-2.5 text-sm text-white placeholder-slate-400
        focus:outline-none focus:ring-2 focus:ring-blue-500"
      />

      <input
        type="password"
        name="password"
        placeholder="Password"
        required
        class="w-full rounded-lg bg-white/10 border border-white/10 
        px-4 py-2.5 text-sm text-white placeholder-slate-400
        focus:outline-none focus:ring-2 focus:ring-blue-500"
      />

      <!--Error-->
        <% if (error) { %>
        <p class="text-red-400 text-sm text-center mb-3"><%= error %></p>
        <% } %>

      <button
        type="submit"
        class="w-full py-2.5 rounded-lg bg-blue-600 hover:bg-blue-700 
        text-white font-medium transition">
        Sign in
      </button>

    </form>
    
    <!-- OR -->
    <div class="flex items-center my-4 text-slate-400 text-xs">
      <div class="flex-grow border-t border-white/10"></div>
      <span class="px-3">OR</span>
      <div class="flex-grow border-t border-white/10"></div>
    </div>
   

    <!-- FOOTER -->
    <p class="text-xs text-center text-slate-400 mt-6">
      Don't have an account?
      <a href="/user/register" class="text-blue-400 hover:underline">Create Account</a>
    </p>

  </div>
 
    <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
</body>
</html>